<!DOCTYPE html>
<head>
  <title>Ozone Maintainance</title>
  <link href="https://unpkg.com/carbon-components@10/css/carbon-components.min.css" rel="stylesheet">
  <link href="./index.css" rel="stylesheet">
  <link rel="icon" href="./ozone_favicon.png"
</head>
<body>
  <main>
    <img class="spacing" width="74" src="./Pictogram.svg" />
    <h1 class="page-title spacing"><%=title%></h1>
    <p class="content spacing"><%=message%></p>
    <div class="ozone-logo spacing">
      <img  src="./Logo_Ozone_copia.svg" />
    </div>
    <div class="contact-info spacing">
      <div class="contact-info-item">
        <img width="16" src="./Phone.svg" />
        <span><%=supportPhone%></span>
      </div>
      <div class="contact-info-item">
        <img width="16" src="./Email.svg" />
        <span><%=supportEmail%></span>
      </div>
    </div>
    <p class="footer">This message was last updated on <%=serverStartTime%> (UTC)</p>
    <div class="ozone-logo-lg">
      <img src="./Logo_Ozone_copia.svg" />
    </div>
  </main>
  <script src="https://unpkg.com/carbon-components@10/scripts/carbon-components.min.js"></script>
</body>
</html>